<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div class="footer" style="padding-top:10px;color: #6f6f6f;font-size: 13px;text-align: center">
    <div>Copyright © 2019 鲁ICP备19019308号-1
        <br>
        Powere By
        <a href="https://bestsort.cn" target="_blank">bestsort</a>
    </div>
    <form id="ajaxVal" hidden>
        <input name="jumpToUrl">
        <input name="search">
        <input name="sortby">
        <input name="topic">
        <input name="tag">
        <input name="userId">
        <input name="category">
        <input name="pageNo">
        <input name="pageSize">
    </form>
</div>
</body>
</html>