<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/bbs-lite-util.js"></script>
    <script src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/hover.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1455098_owf2nzw1fg.css">
    <link rel="stylesheet" href="/css/bbslite.css">


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
</html>