<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1455098_7w85k09ipk8.css"/>
    <link rel="stylesheet" href="/css/hover.css">
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/css/bbslite.css">

    <script src="//alicdn.bestsort.cn/js/jquery.min.js"></script>
    <script src="//alicdn.bestsort.cn/js/jquery-validatemin.js"></script>
    <script src="/js/config.js"></script>

    <script src="//cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/bbs-lite-util.js"></script>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
</html>