<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-search navbar-diy">
    <div class="container"><a class="navbar-brand" href="/">bestsort</a>
        <div class="navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a class="nav-link" href="/">首页</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="https://bestsort.cn">博客</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/topic">话题</a></li>
            </ul>
            <form class="form-inline mr-auto" target="_self">
                <div class="form-group">
                    <input type="search" class="form-control search-field"
                           style="margin-left: 0;border: 1px solid #e6e2e2;border-radius: 10px;height: 35px;font-size: 14px;"
                           id="search-field" name="search" placeholder="点此搜索"/>
                </div>
            </form>
            </div>


        <!-- 注册 -->
        <div th:if="${session.user == null}" class="">
            <a id="sign-up-link" class="btn action-button"  role="button" href="#">注册</a>
        </div>

        <!-- 登录按钮 -->
        <a id="login-link" th:if="${session.user == null}" class="nav-item nav-link" style="color: #465765"  href="#">登录</a>


        <!-- 发布按钮 -->
        <div th:if="${session.user != null}" class="nav-item">
            <a class="nav-link" style="padding:0 5px;color: #465765" href="/publish">
                <i class="iconfont icon-fabu"></i>发布</a>
        </div>
        <div th:if="${session.user != null}" class="nav-item">
            <a class="nav-link" style="padding:0 5px;color: #465765" href="/message">
                <i class="iconfont icon-tongzhi1"></i>消息</a>
        </div>
        <!-- 登录后个人下拉菜单-->
        <div th:if="${session.user != null}" class="dropdown" style="color: #465765">
                <button class="btn dropdown-toggle" type="button" style="box-shadow:none"
                        th:text="${session.user.name}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="/center">个人中心</a>
                    <a class="dropdown-item" href="/logout">退出登录</a>
                </div>
            </div>
        </div>
</nav>
<!-- 登录页面 -->
<div class="modal fade" id="login-link-modal" tabindex="-1" role="dialog" aria-hidden="true" style="text-align: center">
    <div class="modal-dialog modal-dialog-centered sign-form" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin: auto">用户登录</h5>
            </div>
            <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12" style="left: 15px;">
                <div class="modal-body col-lg-7 col-md-7 col-xs-7 col-sm-12" style="border-right: 1px solid #dee2e6;margin-top: 30px;">
                    <form method="post" id="login-form">
                        <div class="input-group mb-3" id="account-login">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="iconfont icon-zhanghao"></i></span>
                            </div>
                            <input type="text" class="form-control" name="login-account" placeholder="账号">
                        </div>
                        <div class="input-group mb-3 hide-all" id="mail-login">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="iconfont icon-MailFilled"></i></span>
                            </div>
                            <input type="text" class="form-control" name="login-email" placeholder="邮箱">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="iconfont icon-mima1"></i></span>
                            </div>
                            <input type="password" name="login_password" class="form-control" placeholder="密码">
                        </div>
                    </form>
                    <a href="#" id="change-login-method" class="bbs-menu link-color">邮箱登录</a>
                    <a href="#" id="forget-password" class="bbs-menu link-color">忘记密码</a>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5 col-sm-12" name="third-login-button">
                </div>
            </div>

            <div class="modal-footer modal-button">
                <button type="button" id="login-button" class="btn btn-primary" style="margin-right: 20px">登录</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 注册页面 -->
<div class="modal fade" id="sign-up-link-modal" tabindex="-1" role="dialog" aria-hidden="true" style="text-align: center">
    <div class="modal-dialog modal-dialog-centered sign-form" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin: auto">新用户注册</h5>
            </div>
            <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12" style="left: 15px;">
                <div class="modal-body col-lg-7 col-md-7 col-xs-7 col-sm-12" style="border-right: 1px solid #dee2e6">
                    <form method="post" id="sign-up-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="iconfont icon-zhanghao"></i></span>
                            </div>
                            <input type="text" class="form-control" name="sign_accountId" placeholder="账号,为6-12位">
                            <!-- 检查账号是否已被使用 -->
                            <!--<div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">检测</button>
                            </div>-->
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="iconfont icon-mima1"></i></span>
                            </div>
                            <input type="password" name="sign_password" class="form-control" placeholder="密码,6-18位数字或字母">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="iconfont icon-zhongfumima"></i></span>
                            </div>
                            <input type="password" name="sign_confirm_password" class="form-control" placeholder="确认密码,和密码一致">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="iconfont icon-MailFilled"></i></span>
                            </div>
                            <input type="email" name="sign_email" class="form-control" placeholder="用于激活账号的Email地址">
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5 col-sm-12" name="third-login-button"></div>
            </div>

            <div class="modal-footer modal-button">
                <button type="button" id="send-sign-up-button" class="btn btn-primary" style="margin-right: 20px">注册</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>