<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
    <div class="container"><a class="navbar-brand" href="/">bestsort</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a class="nav-link" href="/">首页</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="https://bestsort.cn">博客</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/topic">话题</a></li>
            </ul>
            <form class="form-inline mr-auto" target="_self">
                <div class="form-group">
                    <input type="search" class="form-control search-field"
                           style="margin-left: 0;border: 1px solid #e6e2e2;border-radius: 10px;height: 35px;font-size: 14px;"
                           id="search-field" name="search" placeholder="点此搜索"/>
                </div>
            </form>
            </div>
        <!-- 登录按钮 -->
        <a th:if="${session.user == null}" class="btn btn-light action-button"
           role="button" href="https://github.com/login/oauth/authorize?client_id=08b076ae3cf904cf324c&redirect_uri=http://localhost:8080/callback&scope=user&state=1&&allow_signup=true">登录</a>

        <!-- 注册 -->
        <div th:if="${session.user == null}" class="nav-item">
            <a class="nav-link" style="color: #465765" href="/sign_up">注册</a>
        </div>

        <!-- 发布按钮 -->
        <div th:if="${session.user != null}" class="nav-item">
            <a class="nav-link" style="color: #465765" href="/publish">发布</a>
        </div>
        <!-- 登录后个人下拉菜单-->
        <div th:if="${session.user != null}" class="dropdown" style="color: #465765">
                <button class="btn dropdown-toggle" type="button" style="box-shadow:none"
                        th:text="${session.user.name}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="/profile/questions">我的问题</a>
                    <a class="dropdown-item" href="#">bug反馈</a>
                    <a class="dropdown-item" href="/logout">退出登录</a>
                </div>
            </div>
        </div>
</nav>
</body>
</html>