<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="article">
    <!-- 问题列表 -->
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" th:each="articleInfo:${pagination.list}">
        <div class="media media-margin" >
            <!-- 头像 -->
            <div class="media-left media-left-margin">
                <a href="#">
                    <img class="media-min img-rounded" th:src="${articleInfo.userAvatarUrl}">
                </a>
            </div>
            <!-- 描述 -->
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <span>
                            <a th:href="@{'/article/' + ${articleInfo.id}}" class="media-heading"
                               th:text="${articleInfo.title}"></a>
                        </span>
                <br>
                <span class="aw-article-content">
                            <span th:text="${articleInfo.userName}"></span> •
                            <span th:text="${articleInfo.viewCount}"></span>次浏览 •
                            <span th:text="${articleInfo.commentCount}"></span>个回复
                            <span style="float:right" th:text="${#dates.format(articleInfo.gmtCreate,'yyyy-MM-dd  HH:mm:ss')}"></span>
                        </span>

            </div>
        </div>
        <hr class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
    </div>
    <div class="col-lg-9 col-md-9 col-xs-9 col-sm-12" style="border-right:1px solid #eee;margin-top: 20px"><!-- 分页 -->
        <nav aria-label="...">
            <ul class="pagination">
                <li th:if="${pagination.showFirstPage}" class="page-item">
                    <a href="/?page=1" aria-label="Previous">
                        <span class="page-link" aria-hidden="true">首页</span>
                    </a>
                </li>
                <li th:if="${pagination.hasPreviousPage}" class="page-item">
                    <a th:href="@{/(page=${pagination.prePage})}" aria-label="Previous">
                        <span class="page-link" aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="i:${#numbers.sequence(pagination.startPage,pagination.startPage+pagination.pageLenth)}"
                    th:class="${pagination.focusPage==i?'page-item active':'page-item'}">
                    <a th:href="@{/(page=${i})}">
                        <span class="page-link" th:text="${i}"></span>
                    </a>
                </li>

                <li th:if="${pagination.showNext}" class="page-item">
                    <a th:href="@{/(page=${pagination.focusPage+1})}" aria-label="Next">
                        <span class="page-link" aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li th:if="${pagination.showEndPage}" class="page-item">
                    <a th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                        <span class="page-link" aria-hidden="true">尾页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>