<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <head th:insert="common/import"></head>
</head>
<body>
<div th:insert="common/navgation"></div>

<div class="container main profile">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-9 col-sm-12" style="border-right:1px solid #eee">
            <h2>
                <span th:text="${sectionName}"></span>
            </h2>
            <hr>
            <div th:insert="common/questionlist"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="media media-left" style="width: 120%">
                <a href="/">
                    <img class="media-min img-circle" th:src="${user.avatarUrl}">
                </a>
            </div>
            <hr>
            <small style="font-size: 12px;color: #1f1f1f;">
                昵称:
                <a href="/" style="color: #155faa" th:text="${user.name}"></a>
                <br>
                <span th:if="${user.htmlUrl != null}">
                网址:<a target="_blank" th:href="${user.htmlUrl}"
                      style="color: #155faa"
                      th:text="${user.htmlUrl}"></a>
                    </span>
                <br>
                <span th:if="${user.bio != null}">
                    简介:<span style="color: #155faa" th:text="${user.bio}"></span>
                    </span>

            </small>

            <div class="list-group section">
                <a href="/profile/questions" th:class="${section=='questions'}?'active list-group-item':'list-group-item'">我的问题</a>
                <a href="/profile/replies " th:class="${section=='replies'}?'active list-group-item':'list-group-item'">
                    最新回复
                    <span class="badge">15</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<div th:insert="common/foot"></div>
</html>