.features-boxed {

}

.features-boxed p {
    color: #7d8285;
}

.features-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.features-boxed .intro p {
    margin-bottom: 0;
}

.features-boxed .features {
    padding: 50px 0;
}

.features-boxed .item {
    text-align: center;
}

.topic-width{
    width: 10vw;
    height: 10vw;
    margin: 4%;
}
.features-boxed .item .box {
    background-color: #f6f6f6;
    border-radius: 15%;
    width: 10vw;
    height: 10vw;
    border: 1px solid #f1f1f1;

}

@keyframes item-box {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }

    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.features-boxed .item .box:hover{
    left: 0;
    bottom: 0;
    -webkit-animation-name: item-box; /*关键帧名称*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
    -webkit-animation-iteration-count: 1;  /*动画播放的次数*/
    -webkit-animation-duration: 0.5s; /*动画所花费的时间*/

}

.media-topic{
    width: 40%;
    height: 40%;
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    border-radius:500px
}
.features-boxed .item .icon {
    font-size: 60px;
    color: #1485ee;
    margin-top: 20px;
    margin-bottom: 35px;
}

.features-boxed .item .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit;
}

.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

