body, html {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1569164248494&di=c40f1c2c95d0efb1eb9886b7bb61e570&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201502%2F25%2F20150225091006_8khtX.jpeg") repeat center;
}

.main {
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
}
/* 发布问题按钮 */
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

/* 媒体图最小大小 */
.media-min{
    width: 38px;
    height: 38px;
}

.media-body{
    margin-top: 10px;
}
/* 问题页面的小字(回复数,浏览数等) */
.aw-question-content{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/* 个人中心右栏 */
.profile .section{
    margin-top: 30px;
}

/* 问题详情页面的编辑按钮 */
.bbs-menu{
    margin-bottom: 15px;
    display: block;
    color: #999;
    font-size: 13px;
}

/* error返回主菜单按钮 */
.bbs-jumbotron{
    margin: 50px;
}
/* 回复框上的头像样式 */
.comment{
    margin: 10px 0;
}
/* 回复页面提交按钮*/
.btn-comment{
    float: right;
    margin-bottom: 10px;
}

/* 评论中的分割线 */
.comment-question-sp{
    margin-top: 0;
}

/* 评论选项主体颜色 */
.comment-menu{
    color: #999;
}

/* 评论中的图标 */
.comment-menu .icon{
    margin-right: 6px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;

}
.comment-menu .icon:hover{
    color: #337ab7;
}

.comment-menu .active{
    color: #337ab7;
}
.comments{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

/* 二级评论样式 */
.comment-son{
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 10px;
}

.label-tag{
    background-color: #999;
    margin: 2px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    padding: 1px 3px;
}
.label-tag:hover{
    background-color: #5bc0de;
}

.tag-herf{
    margin: 3px;
    color: #999999;
}

.hide-all{
    display: none;
}