<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bbslite.js"></script>
    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/brands.min.js"></script>
    <script src="/js/conflict-detection.min.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/regular.min.js"></script>
    <script src="/js/solid.min.js"></script>
    <script src="/js/v4-shims.min.js"></script>

    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bbslite.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/brands.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/css/regular.min.css">
    <link rel="stylesheet" href="/css/solid.min.css">
    <link rel="stylesheet" href="/css/svg-with-js.min.css">
    <link rel="stylesheet" href="/css/v4-shims.min.css">




    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>



</head>
<!--<head th:fragment="markdown">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>-->
</html>