<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bestsort</title>
    <head th:insert="common/import"></head>
    <script src="/js/indexdata.js"></script>
</head>
<body>
<div th:insert="common/navgation"></div>

<div class="container main">
    <div class="row" style="margin: 5px;">
        <div class="col-lg-9 col-md-9 col-xs-9 col-sm-12" style="border-right:1px solid #eee">
            <h2><i class="fas fa-list"></i><span class="glyphicon glyphicon-list" aria-hidden="true">  发现</span></h2>
            <hr>
            <!--问题列表（有内容时）-->
            <div id="question_wrapper"></div>
            <!--问题列表（无内容时）-->
            <div id="no_quetions" class="text-center" style="margin-top: 50px; display: none;">暂无更多</div>
            <!--分页导航-->
            <div class="col-lg-9 col-md-9 col-xs-9 col-sm-12" style="font-size:12px ;border-right:1px solid #eee;margin-top: 20px">
                <nav aria-label="Page navigation" style="font-size: 12px;">
                    <ul class="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/foot"></div>
</body>
</html>