<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>氢论坛--个人中心</title>
    <head th:insert="common/import"></head>
    <script src="/js/people.js"></script>

    <!--
        <script src="/js/people.js"></script>
    -->
</head>
<body>
<div th:insert="common/navgation"></div>
<div class="container main profile">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-9 col-sm-12" style="border-right:1px solid #eee">
            <!-- 选项导航栏 -->
            <ul class="nav nav-tabs" id = "people_option"></ul>
            <!-- 内容列表-->
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" id="people_list">

            </div>
        </div>
        <!-- 右侧栏 -->
        <div id="article_detail_right" class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>

    </div>
</div>
</body>
<div th:insert="common/foot"></div>
</html>