<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
</head>

<body>
<div th:insert="navgation :: nav"></div>

<div th:if="${error!=null}">
    <div class="alert alert-danger text-center" th:text="${error}"></div>
</div>

<div class="container-fluid main">

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)</label>
                    <input name="title" type="text" class="form-control"
                           placeholder="问题标题__" th:value="${title}" id="title" >
                </div>

                <div class="form-group">
                    <label for="description">问题描述</label>
                    <textarea name="description" class="form-control"
                              id="description" cols="30" rows="10" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input name="tag" type="text" class="form-control" placeholder="输入标签,以逗号分割"
                           th:value="${tag}" id="tag" >
                </div>
                <button type="submit" class="btn btn-success btn-publish" value="发布">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h3>无序列表</h3>
            <ul>
                <li>第一条</li>
                <li>第二条</li>
                <li>第三条</li>
                <li>第四条</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>