<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>氢论坛--发布</title>
    <head th:insert="common/import"></head>
    <link rel="stylesheet" href="//alicdn.bestsort.cn/bbs/editor.md-master/lib/codemirror/addon/dialog/dialog.css"/>
    <link rel="stylesheet" href="//alicdn.bestsort.cn/bbs/editor.md-master/css/editormd.css">
    <script src="//alicdn.bestsort.cn/bbs/editor.md-master/editormd.js"></script>
    <script src="/js/publish-data.js"></script>
</head>

<body>
<div th:insert="common/navgation"></div>

<div class="container main">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="iconfont icon-fabu"></i>发起</h2>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" style="align-items: center">
            <h5><i class="iconfont icon-biaoti"></i>标题(简单扼要)</h5>
            <input id="title" type="text" class="form-control">
        </div>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">请确保您的文章满足以下条件</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body" id="modal-body">
                          1.标题、标签、描述均不为空<br>
                          2.已成功登录<br>
                    </div>
                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">确定</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="editor-md" style="z-index: 1">
                <textarea id="article-description" style="display: none"></textarea>
            </div>
        </div>
        <div id="show_tag" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">标签:</span>
            <input id="tag" type="text" class="form-control push-input" placeholder="输入标签,多个标签以空格分割">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="float: left;padding-left: 0">
            <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">话题:</span>
            <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control push-input"
                    id="topicType" type="text"></select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
            <button id="push" class="btn btn-success btn-publish" style="margin-top: 20px">发布</button>
        </div>
    </div>
</div>
<div th:insert="common/foot"></div>

</body>
</html>