<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <head th:insert="common/import"></head>
    <script src="//cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="/js/publish-data.js"></script>
    <style type="text/css">
        .w-e-text-container {
            border: 1px solid rgba(33, 37, 41, 0.1);
            min-height: 600px;
        }
        /*
        .text {
            border: 1px solid rgba(33, 37, 41, 0.1);
            min-height: 600px;
        }*/
    </style>
</head>

<body>
<div th:insert="common/navgation"></div>

<div class="container main">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="iconfont icon-fabu"></i>发起</h2>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" style="align-items: center">
            <h5><i class="iconfont icon-biaoti"></i>标题(简单扼要)</h5>
            <input id="title" type="text" class="form-control">
        </div>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">请确保您的文章满足以下条件</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body" id="modal-body">
                          1.<br>
                          2.<br>
                    </div>
                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">确定</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div id = "wangEditorToolbar" class="toolbar"></div>
            <div id = "wangEditorText" class="text"></div>
        </div>
        <div id="show_tag" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">标签:</span>
            <input id="tag" type="text" class="form-control push-input" placeholder="输入标签,以回车分割">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="float: left;padding-left: 0">
            <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">话题:</span>
            <select class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control push-input"
                    id="topicType" type="text"></select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
            <button id="push" class="btn btn-success btn-publish" style="margin-top: 20px">发布</button>
        </div>
    </div>
</div>
<div th:insert="common/foot"></div>

</body>
</html>