<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >123</title>
    <head th:insert="common/import"></head>
    <link rel="stylesheet" href="/css/comment.css">
    <script src="/js/question-details.js"></script>
</head>
<body>
<div th:insert="common/navgation"></div>

<div class="container main profile">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-9 col-sm-12" style="border-right:1px solid #eee">
            <!-- 问题正文 -->
            <div id="question_detail" class="col-lg-12 col-md-12 col-xs-12 col-sm-12"></div>
            <div id="question_comment"></div>
        </div>

        <!-- 右侧栏 -->
        <div id="question_detail_right" class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>

    </div>
</div>
<div th:insert="common/foot"></div>
</body>
</html>
