<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <link rel="stylesheet" href="/css/signin-form.css">
    <head th:insert="model/import"></head>
</head>
<body>

<div class="container login-clean">
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="form-group">
            <input class="form-control" name="email" placeholder="Email" type="email"/></div>
        <div class="form-group"><input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <a class="forgot" href="#">
            Forgot your email or password?
        </a>
        <input class="form-control" name="email" placeholder="Email" type="email"/>
        <input class="form-control" name="account" placeholder="account" type="email"/>
    </form>
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Log In</button>
    </div>
</div>
<div th:insert="model/foot"></div>

</body>
</html>