<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bestsort</title>
    <head th:insert="common/import"></head>
    <link rel="stylesheet" href="/css/bbs-topic.css">
</head>

<body>
<div th:insert="common/navgation"></div>

<div class="container features-boxed main">
    <div th:if="${topic == null}">
    <div>
        <div>
            <h2 style="margin-left: 20px;padding-top: 10px">
                <i class="fas fa-dice-d6"></i>
                话题</h2>
            <hr>
        </div>
    </div>
        <div class="row">
                <div class="item topic-width" th:each="topic : ${topics}">
                    <a th:href="${'/?topic=' + topic.id}">
                        <div class="box">
                            <div style="padding-top: 10%">
                                <img th:src="${topic.avatarUrl}" class=" media-topic">
                            </div>
                                <h3 class="name" th:text="${topic.name}" style="color: #465765"></h3>
                            <div class="aw-question-content" >
                                <span th:text="${topic.questionCount}"></span>个问题
                                <br>
                                <span th:text="${topic.followCount}"></span>个收藏
                            </div>
                        </div>
                    </a>
            </div>
    </div>
    </div>
    <div th:if="${topic != null}" class="col-lg-9 col-md-9 col-xs-9 col-sm-12" style="border-right:1px solid #eee">
        <span>
            <div style="margin-top: 3%;margin-bottom: 4%">
                <img th:src="${topic.avatarUrl}" class="media-mid media-circle">
                <span class="topic-head" th:text="${topic.name}"> </span>
                <form action="/follow" method="post" name="follow" target="targetIfr2">
                    <button class="btn btn-success" style="float: right;margin-top: -55px"
                            th:text="${'关注 | ' + topic.followCount}"
                            name="type" value="topic" type="submit"></button>
                    <input type="hidden" name="followBy" th:if="${user != null}" th:value="${user.id}">
                        <input type="hidden" name="followTo" th:value="${topic.id}">
                </form>
                <iframe name="targetIfr2" id="targetIfr2" style="display:none"></iframe>
            </div>
        </span>
            <hr>
        <div th:insert="common/questionlist :: question"></div>
    </div>
</div>
<div th:insert="common/foot"></div>
</body>
</html>