<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>氢论坛--话题</title>
    <head th:insert="common/import"></head>
    <link rel="stylesheet" href="/css/bbs-topic.css">
</head>

<body>
<div th:insert="common/navgation"></div>

<div class="container features-boxed main">
    <div th:if="${topic == null}">
    <div>
        <div>
            <h2 style="margin-left: 20px;padding-top: 10px">
                <i class="fas fa-dice-d6"></i>
                话题</h2>
            <hr>
        </div>
    </div>
        <div class="row">
                <div class="item topic-width" th:each="topic : ${topics}">
                    <a th:href="${'/?topic=' + topic.id}">
                        <div class="box">
                            <div style="padding-top: 10%">
                                <img th:src="${topic.avatarUrl}" class=" media-topic">
                            </div>
                                <h3 class="name" th:text="${topic.name}" style="color: #465765"></h3>
                            <div class="aw-article-content" >
                                <span th:text="${topic.articleCount}"></span>个文章
                            </div>
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/foot"></div>
</body>
</html>