<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bestsort.bbslite.mapper.CommentMapper">
    <resultMap id="comment_list" type="cn.bestsort.bbslite.pojo.model.CommentParent">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="comment_by_id" jdbcType="BIGINT" property="commentById"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="like_count" jdbcType="BIGINT" property="likeCount" />
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
        <collection property="kids" ofType="cn.bestsort.bbslite.pojo.model.CommentKid">
            <id column="kid_id" jdbcType="BIGINT" property="id" />
            <result column="kid_comment_by_id" jdbcType="BIGINT" property="commentById"/>
            <result column="pid" jdbcType="TINYINT" property="pid"/>
            <result column="kid_content" jdbcType="VARCHAR" property="content"/>
            <result column="kid_gmt_create" jdbcType="BIGINT" property="gmtCreate" />
            <result column="kid_gmt_modified" jdbcType="BIGINT" property="gmtModified" />
            <result column="kid_comment_to_user_id" jdbcType="BIGINT" property="commentToUserId" />
        </collection>
    </resultMap>
    <resultMap id="comment_parent_list" type="cn.bestsort.bbslite.pojo.model.CommentParent">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="comment_by_id" jdbcType="BIGINT" property="commentById"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="like_count" jdbcType="BIGINT" property="likeCount" />
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    </resultMap>
    <resultMap id="comment_kids_list" type="cn.bestsort.bbslite.pojo.model.CommentKid">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="comment_by_id" jdbcType="BIGINT" property="commentById"/>
        <result column="pid" jdbcType="TINYINT" property="pid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
        <result column="comment_to_user_id" jdbcType="BIGINT" property="commentToUserId" />
    </resultMap>
    <sql id="Base_Kid_Column_List">
        id, comment_by_id, pid,content,comment_to_user_id, gmt_modified, content, like_count
    </sql>
    <sql id="Base_Parent_Column_List">
        id, comment_by_id, article_id, gmt_modified, content, like_count
    </sql>
    <insert id="insertCommentParent" parameterType="cn.bestsort.bbslite.pojo.model.CommentParent">
        insert into comment_parent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="commentById != null">
                comment_by_id,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="likeCount != null">
                like_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="commentById != null">
                #{commentById,jdbcType=BIGINT},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=BIGINT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="likeCount != null">
                #{id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <insert id="insertCommentKid" parameterType="cn.bestsort.bbslite.pojo.model.CommentKid">
        insert into comment_kid
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="commentById != null">
                comment_by_id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="commentToUserId != null">
                comment_to_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="commentById != null">
                #{commentById,jdbcType=BIGINT},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="commentToUserId != null">
                #{commentToUserId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="listComment" parameterType="long" resultMap="comment_list">
        select
            comment_parent.*,
            kid.id kid_id,
            kid.pid pid,
            kid.comment_by_id kid_comment_by_id,
            kid.content kid_content,
            kid.gmt_create kid_gmt_create,
            kid.gmt_modified kid_gmt_modified,
            kid.comment_to_user_id kid_comment_to_user_id
        from
            comment_parent left join comment_kid kid on kid.pid = comment_parent.id
        where
            comment_parent.article_id = #{id,jdbcType=BIGINT}
        order by gmt_create desc,kid_gmt_create
    </select>
    <select id="getCommentParentById" resultType="cn.bestsort.bbslite.pojo.model.CommentParent">
        select
        <include refid="Base_Parent_Column_List"/>
        from
             comment_parent
        where
              id=#{id,jdbcType=BIGINT}
    </select>

    <select id="getCommentKidById" resultType="cn.bestsort.bbslite.pojo.model.CommentKid">
        select
        <include refid="Base_Kid_Column_List"/>
        from
            comment_kid
        where
            id=#{id,jdbcType=BIGINT}
    </select>
    <select id="listCommentParentByUserId" resultMap="comment_parent_list">
        select
            <include refid="Base_Parent_Column_List"/>
        from
            comment_parent
        where
            comment_by_id = #{id,jdbcType=BIGINT}
    </select>
    <update id="incCommentLike">
        update comment_parent
        set
            like_count = like_count + #{val,jdbcType=BIGINT}
        where
            id = #{id,jdbcType=BIGINT}
    </update>
</mapper>